# Added by Payload
DATABASE_URI=mongodb+srv://...
DO_SPACE_ENDPOINT=https://...
DO_SPACE_NAME=...
DO_SPACE_ACCESS_KEY=...
DO_SPACE_SECRET_KEY=...
DO_SPACE_REGION=...

RESEND_API_KEY=...

PAYLOAD_SECRET=...
NEXT_PUBLIC_SERVER_URL=...
CRON_SECRET=...

NEXT_PUBLIC_RECAPTCHA_SITE_KEY=...
RECAPTCHA_SECRET_KEY=...
